
.hide-cat-one,.hide-cat-two,.hide-cat-three{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    margin: 0;
    padding-right: 30em;
}

.hide-cat-one {
    background-image: url(../assets/images/night.jpg);
    background-position: center;
    background-size: cover;
    display: auto;
    height: 100%;
}

.hide-cat-two {
    background-image: url(../assets/images/day.jpg);
    background-position: center;
    background-size: cover;
    display: auto;
}
.hide-cat-three {
    background-image: url(../assets/images/dawn.png);
    background-position: center;
    background-size: cover;
    display: auto;
}

img{
    position: absolute;
    bottom: 0;
    width:40%;
}
