.back-night {
    background-image: url(../assets/images/night.jpg);
    background-position: center;
    background-size: cover;
    display: block;
}


.back-day {
    background-image: url(../assets/images/day.jpg);
    background-position: center;
    background-size: cover;
    display: auto;
}
.back-dawn {
    background-image: url(../assets/images/dawn.png);
    background-position: center;
    background-size: cover;
    display: auto;
    max-width: 992px;
}

section div .cat{
    width: 40%;
    height: 40%;
}

.containergr, .hide-cat-one,.hide-cat-two,.hide-cat-three{
    position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
